{erl_opts,
  [
    debug_info,
    inline
  ]}.
{deps, []}.

{relx,
  [
    {
      release,
      {cessor, "0.1.0"},
      %{erts, "10.6.4"},
      [
        %%  OTP assets
        {kernel, "8.3.1"},
        {stdlib, "3.17.1"},
        {sasl, "4.1.2"},
        {mnesia, "4.20.3"},
        {crypto, "5.0.6"},
        {ssl, "10.7.2"},
        {public_key, "1.12"}

        %%  CESSOR assets
        
        %, {cessor_storage, "0.1.0"}
        , {cessor_gate, "0.1.0"}
        %, {cessor_crypto, "0.1.0"}
        , {cstp, "0.1.0"}
        , {cessor_unit, "0.1.0"}
      ]
    },

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false}
  ]
}.

{profiles,
  [
    {prod,
      [
        {relx,
          [
            {dev_mode, false},
            {include_erts, true},
            {include_src, true},
            {overlay, [
              {mkdir, "services"},
              {copy,  "services",  "services"}
            ]}
          ]
        }
      ]
    }
  ]
}.

{pre_hooks, [
  {"(linux|darwin|solaris)", compile, "make -C apps/cessor_gate/c_src"}
]}.
{post_hooks, [
]}.

{extended_start_script_extensions, [
]}.