[
  {kernel,
    [
      {start_distribution,  true}
      , {dist_auto_connect,  never}
    ]
  },
  {mnesia, [{dir,  "lib/cstp-0.1.0/priv/store/"}]},
  {cessor_unit,
    [
      {pin, "${PIN}"}
      , {port, "${PORT}"}
      , {interface, "${GATE}"}
    ]
  },
  {cstp,
    [
      {interface, "${GATE}"}
    ]
  }
].

%% export RELX_REPLACE_OS_VARS=true
%% COOKIE=cookie_test PIN=pin_test PORT=31415 ./bin/cessor console